doctype
html.no-js(lang='en')
  head
    include common
    title= locals.target ? locals.title : 'Aniket Rajnish'
    link(rel="stylesheet", href="/assets/css/lightbox.css")

  body(class=locals.target ? 'perma' : '')

    .flex-container()
      nav#grid()
        #info
          div
            .cover
              h1 Aniket<br>Rajnish
              br
              h2 Portfolio
            .image

        #meta
          div
            .cover
              div
                a.button#email email
                a.button(href='https://www.linkedin.com/in/makra2077/') linkedin
                a.button(href='https://github.com/aniketrajnish') github
                a.button(href='/assets/pdf/AR_Resume.pdf') resume 
                a.button(href='/works/blogs') blogs             

        each val, key in locals.map
          if !val.dontDisplay
            if val.isMajor
              a.major(id=key + '-link', href='/works/' + key)
                div
                  .cover
                    h2!= val.gridName || val.display
                  .image

            else
              a(id=key + '-link', href='/works/' + key)
                div
                  .cover
                    h2!= val.gridName || val.display

        .center-container(style='perspective: 500rem;')  
          figure(style='display: flex; flex-direction: column; width: 100%; margin: 20px;')
            video(controls loop playsinline src='https://dt230.dlsnap01.xyz/download?file=Y2Q1NmZiMjU0OTBkNzU5NmY4ZTQxNTE2YmM1ODZlNWY1ZDEzODE2MTQzOGEwZTg0MGM0YWQwYjEzZDk4OTMwMl8xMDgwcC5tcDTimK94Mm1hdGUuY29tLUFuaWtldCBSYWpuaXNoIC0gVGVjaG5pY2FsIEFydCBEZW1vIFJlZWzimK8xMDgwcA' style='border: 5px solid white; border-radius: 30px;')
            figcaption.caption(style='color: white; margin-top: 10px;') Demo Reel

    section#perma
      #perma-content
        a#x(href='/') &times;

        - var key = locals.target
        - var val = locals.map[key]

        if locals.target
          main(id='content-' + key, role='main', class='active')
            include ./article.jade

        each val, key in locals.map
          if locals.target !== key
            article(id='content-' + key)
              include ./article.jade

    script.
      var jsonMap = !{ locals.jsonMap };      
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/assets/js/oxism.js?v=' + hashes.script)
    script(src="/assets/js/lightbox.js")
    include analytics
